<!--
/**
 * Makewebbetter
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://makewebbetter.com/license-agreement.txt
 *
 * @category    Makewebbetter
 * @package     Makewebbetter_HubIntegration
 * @author      Makewebbetter Core Team <connect@makewebbetter.com>
 * @copyright   Copyright Makewebbetter (http://makewebbetter.com/)
 * @license     https://makewebbetter.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="makewebbetter" translate="label" sortOrder="1">
            <label>Makewebbetter</label>
        </tab>
        <section id="hub_integration" translate="label" type="text" sortOrder="5" showInDefault="1">
            <tab>makewebbetter</tab>
            <label>HubSpot</label>
            <resource>Makewebbetter_HubIntegration::hub_config</resource>
            <group id="installed_extensions" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Installed Extensions</label>
                <frontend_model>Makewebbetter\HubIntegration\Block\Extensions</frontend_model>
            </group>
            <group id="hubspot_integration" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>General Configuration</label>
				<field id="enable" translate="label" type="select" sortOrder="2" showInDefault="1">
                    <label>Enable HubSpot Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="oauth2_authorize" translate="label" sortOrder="80" showInDefault="1">
                    <label>Authorize</label>
                    <frontend_model>Makewebbetter\HubIntegration\Block\Adminhtml\System\Config\AuthorizeButton</frontend_model>
                    <depends>
                        <field id="hub_integration/hubspot_integration/enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="abandoned_cart_time" translate="label" type="text" sortOrder="3" showInDefault="1"  >
                    <label>Abandoned Cart</label>
                    <comment>After how minute of inactive cart we should treat it as Abandoned </comment>
                    <validate>required-entry validate-number</validate>
                    <depends>
                        <field id="hub_integration/hubspot_integration/enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="export_settings" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>Cron Configuration</label>
                <depends>
                    <field id="hub_integration/hubspot_integration/enable">1</field>
                </depends>
                <field id="cron_time" translate="label" type="select" sortOrder="80" showInDefault="1">
                    <label>Select Data Sync Cron Time</label>
                    <source_model>Makewebbetter\HubIntegration\Model\Source\CronTime</source_model>
                </field>
                <field id="delete_error_log" translate="label" type="text" sortOrder="90" showInDefault="1">
                    <label>Auto Delete Error Log After</label>
                    <comment>In Days</comment>
                    <validate>required-entry validate-number validate-digits validate-greater-than-zero validate-length maximum-length-3</validate>
                </field>
            </group>

            <group id="rfm_settings" translate="label" type="text" sortOrder="1" showInDefault="1">
                <label>RFM Settings</label>
                <depends>
                    <field id="hub_integration/hubspot_integration/enable">1</field>
                </depends>
                <field id="rfm_fields" translate="label"  sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>RFM Fields</label>
                    <frontend_model>Makewebbetter\HubIntegration\Block\Adminhtml\System\Config\Form\Field\RfmFields</frontend_model>
                    <backend_model>Makewebbetter\HubIntegration\Model\System\Config\Backend\HubConfig</backend_model>
                </field>
            </group>

        </section>
    </system>
</config>
