.admin__menu .item-hub.parent.level-0 > a:before {
    content: "";
    margin-bottom: 2px;
    background-image: url("@{baseDir}Makewebbetter_HubIntegration/images/mwb_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    background-size: 65px;
}
.admin__menu .item-hub.parent.level-0 > a span {
    display: block;
    width: 63px;
    margin-left: 8px;
}
.admin__field-value {
    padding-top: 0;
}
